body {
    background-color: burlywood;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

ul li {
    float: left;
}

ul li a {
    width: 175px;
    height: 50px;
    margin-right: 5px;
    display: block;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 24px;
    padding-bottom: 10px;
    transition: all.5s ease;
    -webkit-transition: all.5s ease;
    -moz-transition: all.5s ease;
    -ms-transition: all.5s ease;
    -o-transition: all.5s ease;
}

ul li a:hover {
    color: teal;
    padding-bottom: 3px;
    border-bottom: 1px solid teal;
}